In [1]:
from elec_bol20 import *
import elec_bol20.util as ebu

## open file

In [2]:
i = 'reci_interior'
e = 'reci_exterior'
path = os.path.join(ebu.DATA_PATH0,'2020','2020_geo_padron_final/2020_geo_padron_final.xlsx')
di = pd.read_excel(path,sheet_name=i)
de = pd.read_excel(path,sheet_name=e)

##### ver

In [3]:
['RECI_GEO_FID', 'NumPaís', 'País', 'NumDep', 'Departamento', 'NumProv',
       'Provincia', 'NumMuni', 'Municipio', 'idloc', 'AsientoElectoral',
       'NumDist', 'Distrito', 'NumZona', 'Zona', 'CIRCUNDIST', 'nomCircun',
       'TipoCircunscripcion', 'RECI', 'Recinto', 'Mesas', 'Habilitados',
       'latitud', 'longitud', 'rural_urbano', 'denspop']

['RECI_GEO_FID',
 'NumPaís',
 'País',
 'NumDep',
 'Departamento',
 'NumProv',
 'Provincia',
 'NumMuni',
 'Municipio',
 'idloc',
 'AsientoElectoral',
 'NumDist',
 'Distrito',
 'NumZona',
 'Zona',
 'CIRCUNDIST',
 'nomCircun',
 'TipoCircunscripcion',
 'RECI',
 'Recinto',
 'Mesas',
 'Habilitados',
 'latitud',
 'longitud',
 'rural_urbano',
 'denspop']

In [4]:
di['RECI'].duplicated().sum()

2483

In [5]:
di['RECI_GEO_FID'].duplicated().sum()

0

In [6]:
de['RECI'].duplicated().sum()

0

In [7]:
de['RECI_GEO_FID'].duplicated().sum()

52

In [8]:
di['País'].value_counts()

Bolivia    5322
Name: País, dtype: int64

In [9]:
len(di)

5322

In [10]:
len(de)

162

#### merge

In [15]:
je = ['NumPaís','NumDep','NumProv','NumMuni','idloc',	'NumDist',	'NumZona',	'RECI']
te = ['pais','Ciudad','PROV','sec','idloc','dist','zona','RECI']

jn = ['NumDep','NumProv','NumMuni','idloc','NumDist','NumZona','CIRCUNDIST','RECI']
tn = ['dep','PROV','sec','idloc','dist','zona','CIRCUNDIST','RECI']

In [30]:
dic_e = {a:b for a,b in zip(je,te) }
dic_n = {a:b for a,b in zip(jn,tn) }

In [79]:
s='Hab_Inhab_depu_X_Mesa'
pn = os.path.join(ebu.DATA_PATH0,'2020',
                  'padron_oep','ESTADISTICAS_NACIONAL_EG_2020.xlsx')
pn = pd.read_excel(pn,sheet_name=s,skiprows=5, dtype={'nummesa':str}).iloc[:-1]

In [87]:
s='Hab_Inhab_Dep_X_Recinto_X_Mesa'
pe = os.path.join(ebu.DATA_PATH0,'2020',
                  'padron_oep','ESTADISTICAS_EXTERIOR_EG_2020.xlsx')
pe = pd.read_excel(pe,sheet_name=s,skiprows=5, dtype={'nummesa':str}).iloc[:-1]

In [91]:
pe[[*dic_e.values(),'nummesa']]

,pais,Ciudad,PROV,sec,idloc,dist,zona,RECI,nummesa
0,4.0,61.0,1.0,1.0,3804.0,1.0,101.0,25129.0,110046138042512901
1,4.0,61.0,1.0,1.0,3804.0,1.0,101.0,25129.0,110046138042512902
2,11.0,10.0,1.0,1.0,3611.0,1.0,101.0,25055.0,110111036112505501
3,11.0,10.0,1.0,1.0,3611.0,1.0,101.0,25055.0,110111036112505502
4,11.0,10.0,1.0,1.0,3611.0,1.0,101.0,25055.0,110111036112505503
...,...,...,...,...,...,...,...,...,...
1438,213.0,77.0,1.0,1.0,3820.0,1.0,101.0,26120.0,112137738202612003
1439,213.0,77.0,1.0,1.0,3820.0,1.0,101.0,26120.0,112137738202612004
1440,213.0,77.0,1.0,1.0,3820.0,1.0,101.0,26120.0,112137738202612005
1441,213.0,77.0,1.0,1.0,3820.0,1.0,101.0,26120.0,112137738202612006
1442,233.0,49.0,1.0,1.0,3792.0,1.0,101.0,25117.0,112334937922511701

In [ ]:
pe['N_REC'] = pe.

In [85]:
pe

pais                                            NaN
NombrePais                                      NaN
Ciudad                                          NaN
NomCiudad                                       NaN
PROV                                            NaN
nomprov                                         NaN
sec                                             NaN
nombremunicipio                                 NaN
idloc                                           NaN
AsientoElectoral                                NaN
dist                                            NaN
nomdist                                         NaN
zona                                            NaN
nomzona                                         NaN
CIRCUNDIST                                      NaN
RECI                                            NaN
nombrerecinto                                   NaN
nummesa                                         NaN
Mesa                                            NaN
Habilitados                                  301631
Inhabilitados\n(Ciudadanos \nNo votantes)     50634
Name: 1443, dtype: object

In [62]:
pn1[[*dic_n.values(),'nummesa']]
pn1['N_MESA'] = pn1['nummesa'].astype(np.int64)

/Users/diego/miniconda3/envs/ebol20/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
pn1['nummesa'].astype(np.int64)

0        100320129540000096
1        100320137150000096
2        100320128880000096
3        100320128880000096
4        100320133740000096
                ...
34152    100320911920007696
34153    100320941022551104
34154    100320941012551008
34155    100320934050000096
34156    100320933030000096
Name: nummesa, Length: 34157, dtype: int64